.body {
  box-sizing: border-box;
  height: 100vh;
  background-color: purple;
}
.main {
  padding-top: 30px;
}
.search-form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.search-btn {
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  font-weight: 400px;
  color: black;
  width: 85px;
  border: solid 2px black;
  border-radius: 50px;
  background: #e4082b;
  padding: 5px;
  outline: none;
  transition: filter 1s;
  filter: drop-shadow();
  &:hover {
    filter: drop-shadow(0 0 35px rgb(252, 57, 57));
  }
}
.search-input-title {
  width: 330px;
  height: 40px;
  border-radius: 50px;
  /* margin-bottom: 20px; */
  outline: none;
  border: none;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-style: italic;
  text-transform: uppercase;
  text-align: center;
  color: lightgray;
}
.series-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.series-list {
  list-style: none;
}
.serie-item {
  margin-top: 20px;
}
.serie-image {
  width: 195px;
  height: 280px;
  margin: auto;
  // background-color: royalblue;
  // border: 1px solid black;
}
.serie-name {
  width: 195px;
  margin-top: -5px;
  font-family: "Roboto", sans-serif;
  color: #e4082b;
  text-align: center;
  background-color: black;
}
