.body {
  box-sizing: border-box;
  height: 100vh;
  background-image: url(../images/backgroundweb.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: black;
}
.main {
  padding-top: 30px;
}
.search-form-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.search-btn {
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  font-weight: 400px;
  color: black;
  width: 85px;
  border: solid 2px black;
  border-radius: 50px;
  background: #e4082b;
  padding: 5px;
  outline: none;
  transition: filter 1s;
  filter: drop-shadow();
  &:hover {
    filter: drop-shadow(0 0 35px rgb(252, 57, 57));
  }
}
.search-input-title {
  width: 330px;
  height: 40px;
  border-radius: 50px;
  outline: none;
  border: none;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-style: italic;
  text-transform: uppercase;
  text-align: center;
  color: lightgray;
}
// bloque de resultados series

.results-container {
  display: flex;
  flex-direction: row;
  margin-top: 10px;
}
// bloque favoritas
.fav-container {
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  background-color: black;
}
// .fav-item {
//   background-color: #e4082b;
// }
.fav-title {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  letter-spacing: 0.1rem;
  color: white;
  align-items: center;
  margin-top: 10px;
}
.fa {
  font-size: 20px;
  margin-right: 10px;

  color: #e4082b;
}
.btn-remove-all {
  margin-top: 10px;
  width: 90px;
  height: 25px;
  color: white;
  outline: none;
  border: solid 2px #e4082b;
  border-radius: 50px;
  background: black;
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  transition: filter 1s;
  filter: drop-shadow();
  &:hover {
    filter: drop-shadow(0 0 35px rgb(252, 57, 57));
  }
}
.list-fav-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.fav-list {
  margin-top: 10px;
  list-style: none;
  justify-content: center;
  align-items: center;
}

.fav-item {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px 8px 10px 8px;
  padding: 10px 8px 10px 8px;
  background-color: #e4082b;
}
.fav-image {
  width: 210px;
  border: 1px solid #e4082b;
}
.fav-name {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  color: #e4082b;
  text-align: center;
  background-color: black;
  border: 1px solid #e4082b;
  width: 210px;
  padding-top: 5px;
  padding-bottom: 5px;
}
// bloque Lista de series
.series-container {
  width: 100vw;
  height: 100%;
  margin-top: 20px;
  padding-left: 15px;
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: black;
}
.series-list {
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: black;
}

.serie-item {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px 8px 10px 8px;
}
.serie-image {
  width: 210px;
  border: 1px solid #e4082b;
}
.serie-name {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  color: #e4082b;
  text-align: center;
  background-color: black;
  border: 1px solid #e4082b;
  width: 210px;
  padding-top: 5px;
  padding-bottom: 5px;
}
.item-hidden {
  display: none;
}
