.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: aquamarine;
}
.page_title {
  // width: 450px;
  padding-top: 60px;
}
