.header {
  /* padding-top: 50px; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  // background-image: url(../images/storm.gif);
}
.logo {
  width: 450px;
  padding-top: 60px;
  filter: drop-shadow(0 0 5px rgb(252, 57, 57));
}
