.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.logo {
  width: 450px;
  padding-top: 60px;
  filter: drop-shadow(0 0 5px rgb(252, 57, 57));
}
